<section class="home">
    <div class="slider">
      <div class="slide active" >
        <div class="container">
          <div class="caption">
            <h1>Lorem<br>ipsuldokor<br>sit amet</h1>
            <a href="">découvrir</a>
          </div>
        </div>
      </div>