.home{
    height: 100vh;
    position: relative;
}

.home {
    /* position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    padding: 0 0px 0 0px 0;
    animation: slide 2s ease; */
    background-image: url('../../assets/img/slide.png');
    background-size: 100%;
    background-position: center;
    position: relative;
    /* padding: 15px 0 280px; */
    background-repeat: no-repeat;
    background-position-x: -2em;
    background-position-y: -1em;
    padding-bottom: 74px;
    width: 1317px;
}

.home .slide.active{
    display: flex;
}
@keyframes slide{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
 }
 
 .container{
     max-width: 1170px;
     margin: auto;
     margin-left: 50px;
     
 }
 
 .home .container{
     flex-grow: 1;
 }
 
 .home .caption{
     width: 50%;
     margin-left: 150px;
     margin-bottom: 150px;
 }
 
 .home .caption h1{
     font-size: 45px;
     color: #fff;
     margin: 0;
 }    
 
 .home .slide.active .caption h1{
     opacity: 0;
     animation: captionText .5s ease forwards;
     animation-delay:1s ;
 }
 
 .home .slide.active .caption p{
     opacity: 0;
     animation: captionText .5s ease forwards;
     animation-delay:1s ;
 }
 
 .home .caption a {
     display: inline-block;
     padding: 10px 60px;
     margin-top: 30px;
     
     background-color: rgb(221, 31, 110);
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
 }
 
 .home .slide.active .caption a{
     opacity: 0;
     animation: captionText .5s ease forwards;
     animation-delay:1s ;
 }
 
 @keyframes captionText{
     0%{
         opacity: 0;transform: translateX(-100px)
     }
     100%{
         opacity: 1;transform: translateX(0px);
     }
 }