.footer{
    border: 1px solid #514F62;
    background-color: #514F62;
    height: 45vh;
}
h4{
    font-style: Quicksand;
    color: white;
    font-size: 18px;
    border-bottom: white solid 3px;
    border-spacing: 3px 0px 10px 0px;
    
}
p,li {
    font-style: Quicksand;
    color: white;
    font-size: 15px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.inner{
    padding-top: 5px;
}
.footer0{
    border: 1px solid #514F62;
    background-color: #514F62;
    height: 30vh;
}
#c1{
    padding-top: 52px;
}

input[type=submit]{
    background-color: #E91C6A;
    color: white;
    border: #E91C6A 3px solid;
    width: 90px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
input[type=email]{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 150px;
}

img{
    padding-top: 20px;
}
 h4{
     padding-bottom: 10px;
 }