<div class="footer0 ">  
    <div class="d-flex flex-row justify-content-around">     
    
        <img class="card-img-top" src="../../assets/img/L0.png" alt="Card image cap" style="width: 100px; height: 115px;">
        
            <img class="card-img-top" src="../../assets/img/L1.png" alt="Card image cap" style="width: 100px; height: 115px;">
            <div class="d-flex flex-row ">
                <img class="card-img-top" src="../../assets/img/L2.png" alt="Card image cap" style="width: 100px; height: 115px;">
                <p id="c1">Une question sur un produit?<br>0500 000 000</p>
            </div>
    
</div> 
</div>
<section class="footer">
    <div class="d-flex flex-row justify-content-around">
        <div class="dispo">
            
                <div class="inner">
                    <img class="card-img-top" src="../../assets/img/L3.png" alt="Card image cap" style="width: 150px;">
                </div>
        </div>
    <div class="dispo col">
        <h4>SERVICE CLIENT</h4>
        <UL>
            <li>Livraison</li>
            <li>Aide</li>
            <li>Suivi de commande</li>
            <li>Contactez nous</li>
        </UL>
    </div>
    <div class="dispo col">
        <h4>INFORMATION</h4>
        <ul>
            <li>Conditions générales d'utilisation</li>
            <li>Conditions générales de vente</li>
            <li>Plan du site</li>
            <li>Toutes nos gammes</li>
            <li>Gestion des cookies</li>
        </ul>
    </div>
    <div class="dispo col">
        <h4>A PROPOS</h4>
        <ul>
            <li>Zinabel</li>
            <li>Nos magazins</li>
            <li>Actualités</li>
            <li>Consultations & conseils</li>
        </ul>
    </div>
        <div class="subscribe col">
            <h4>NEWSLETTER</h4>
            <p>inscrivez-vous à notre newsletter et recevez tout nos bons plans</p>
          
            <form>
              <input type="email" placeholder="Your email address">
              <input id="bt" type="submit" value="Subscribe">
            </form>
            <div class="inner">
                <img class="card-img-top" src="../../assets/img/L4.png" alt="Card image cap" style="width: 250px;">
            </div>
          </div>
    
    <div>
        
    </div>
</div>
</section>
