<div class="d-flex flex-row justify-content-around">

        <span class="icon icon1"></span>
        <span class="icon icon2"></span>
        <span class="icon icon3"></span>
        <span class="icon icon4"></span>
        <span class="icon icon5"></span>
        <span class="icon icon6"></span>
        
</div>