.icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: cover;
    margin-top: 30px;
  }
  .icon1 {
    background-image: url('../../assets/img/1.svg');
  }
  .icon1:hover,
  .icon1:focus {
    background-image: url('../../assets/img/01.svg');
  }
  .icon2 {
    background-image: url('../../assets/img/2.svg');
  }
  .icon2:hover,
  .icon2:focus {
    background-image: url('../../assets/img/02.svg');
  }
  .icon3 {
    background-image: url('../../assets/img/3.svg');
  }
  .icon3:hover,
  .icon3:focus {
    background-image: url('../../assets/img/03.svg');
  }


  .icon4 {
    background-image: url('../../assets/img/4.svg');
  }
  .icon4:hover,
  .icon4:focus {
    background-image: url('../../assets/img/04.svg');
  }
  .icon5 {
    background-image: url('../../assets/img/5.svg');
  }
  .icon5:hover,
  .icon5:focus {
    background-image: url('../../assets/img/05.svg');
  }
  .icon6 {
    background-image: url('../../assets/img/6.svg');
  }
  .icon6:hover,
  .icon6:focus {
    background-image: url('../../assets/img/06.svg');
  }