

p{
    font-family: Quicksand;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
    font-weight: lighter;
}

 button {
    background: #E91C6A;
    border: none;
    line-height: 5vh;
    font-family: Quicksand;
    font-size: 1.4vw;
    margin: 2vh 0 1vh 0;
    outline: none;
    color: white;
    text-transform: capitalize;
    outline: none;
    margin: 0 25% 10% 25%; 
    /* display: none; */
  
 } 
    /* .w:hover + button, button:hover{
        display: inline-block;

    } */

.bg{
    background-image: url('../../assets/img/bg1.png');
    background-size: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-position-y: 12em;
    padding-bottom: 80px;


}
.container{
    margin-top: 8%;
    padding-bottom: 10px;
    
     
}
.w{
    margin: 0 5px 0 5px;
}
 
.inner{
    overflow: hidden;
    margin: 8px auto ;
}
 
.inner img{
    transition: all 1.5s ease;
    width: auto;
    height: 45vh;
}
 
.inner:hover img{
    transform: scale(1.3);
}
h2 { 
    font-size: 2em;
 }
h2:before,h2:after {
  border-top-style: dashed;
}

h2:before,h2:after {
  border-top: 3px double dashed #E91C6A;
  border-color: #E91C6A;
  content: '';
  display: table-cell;
  width: 50%;
}

h2 {
    border-collapse: separate;
    border-spacing: 0px 0;
    border-spacing: 5rem 0;
    color: #514F62;
    display: table;
    font-family: Quicksand;
    font-size: 2em;
    line-height: .25;
    margin: 2em 0em 0em 0em;
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    
    
  }
  .title{
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      font-family: Quicksand;
      color: #514F62;
  }

 