<section class="bg">
    
        <h2 class="title">Découvrez notre univers</h2>
    
<div class="container">
    
        <div class="d-flex flex-row justify-content-between ">
            <!-- Card number 1 -->
            <div class="w">
                <div class="card shadow" style="width: 13rem;">
                    <div class="inner">
                        <img class="card-img-top" src="../../assets/img/0.png" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">
                      <p class="card-title">MAQUILLAGE</p>
                      
                      <button>découvrir</button>
                    </div>
                  </div>
            </div>


            <!-- Card number 2 -->
            <div class="w">
                <div class="card shadow" style="width: 13rem;">
                    <div class="inner">
                            <img class="card-img-top" src="../../assets/img/1.png" alt="Card image cap">
                    </div>
                    
                    <div class="card-body text-center">
                      <p class="card-title">SOIN DE LA PEAU</p>
                      
                      <button>découvrir</button>
                    </div>
                  </div>
            </div>

            <!-- Card number 3 -->
            <div class="w">
                <div class="card shadow" style="width: 13rem;">
                    <div class="inner">
                            <img class="card-img-top" src="../../assets/img/2.png" alt="Card image cap">
                    </div>
                    
                    <div class="card-body text-center">
                      <p class="card-title">CHEUVEUX</p>
                      
                        
                        <button>découvrir</button>
                    </div>
                  </div>
            </div>


            <!-- Card number 4 -->
            <div class="w">
                <div class="card shadow" style="width: 13rem;">
                    <div class="inner">
                            <img class="card-img-top" src="../../assets/img/3.png" alt="Card image cap">
                    </div>
                    
                    <div class="card-body text-center">
                      <p class="card-title">ONGLES</p>
                      
                        
                        <button>découvrir</button>
                    </div>
                  </div>
            </div>


            <!-- Card number 5 -->
            <div class="w">
                <div class="card shadow" style="width: 13rem;">
                    <div class="inner">
                            <img class="card-img-top" src="../../assets/img/4.png" alt="Card image cap">
                    </div>
                    
                    <div class="card-body text-center">
                      <p class="card-title">PARFUMS</p>
                      
                        
                        <button>découvrir</button>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</section>