<!-- Image and text -->
<nav >
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <div class="logo">
        <img src="../../assets/img/logo.png" alt="">
    </div>
    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Type to search">
        <a class="search-btn" href="#">
        <i class="fa fa-search" aria-hidden="true"></i></a>

    </div>
    

    <div class="nav-wrapper">
        <ul>
            <li >Mon compte<a class="fa fa-user-circle-o" href="#"></a></li>
            <li>Mes favoris<a class="fa fa-heart" href="#"></a></li>
            <li>Mon panier<a class="fa fa-shopping-cart" href="#"></a></li>
        </ul>
    </div>
</nav>
