<section class="bg">
    
    <h2 class="title">Inspirations des looks</h2>

<div class="container">

    <div class="d-flex flex-row justify-content-center ">
        <!-- Card number 1 -->
        <div class="w">
            <div class="card shadow" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/img/i1.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <p class="card-title">Samia</p>
                  
                  <button>@samo</button>
                </div>
              </div>
        </div>


        <!-- Card number 2 -->
        <div class="w">
            <div class="card shadow" style="width: 12rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/i2.png" alt="Card image cap">
                </div>
                
                <div class="card-body text-center">
                  <p class="card-title">Amira</p>
                  
                  <button>@amira</button>
                </div>
              </div>
        </div>

        <!-- Card number 3 -->
        <div class="w">
            <div class="card shadow" style="width: 12rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/i3.png" alt="Card image cap">
                </div>
                
                <div class="card-body text-center">
                  <p class="card-title">Ali</p>
                  
                    
                    <button>@Ali</button>
                </div>
              </div>
        </div>


        <!-- Card number 4 -->
        <div class="w">
            <div class="card shadow" style="width: 12rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/i4.png" alt="Card image cap">
                </div>
                
                <div class="card-body text-center">
                  <p class="card-title">Lina</p>
                  
                    
                    <button>@Lina</button>
                </div>
              </div>
        </div>


    

    </div>
</div>
<!-- control slide-->
<div class="controls">
    <div class="prev"><</div>
    <div class="next">></div>
</div>
</section>
