p{
    font-family: Quicksand;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
    font-weight: lighter;
    color: #E91C6A;

}
 button {
    background: white;
    border-radius: 30px;
    border: 1px solid #6F6F6F;
    line-height: 5vh;
    font-family: Quicksand;
    font-size: 1.4vw;
    margin: 2vh 0 1vh 0;
    outline: none;
    color: #6F6F6F;
    text-transform: capitalize;
    outline: none;
    margin: 0 5px 10% 5px; 
    width: 130px;
    
    
 } 
    

.bg{
    background-image: url('../../assets/img/inspiration.png');
    background-size: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-position-y: 92px;
    padding-bottom: 38px;


}
.container{
    margin-top: 8%;
    padding-bottom: 10px;
    
     
}
.w{
    margin: 0 5px 0 5px;
}
 
.inner{
    overflow: hidden;
    margin: 8px auto ;
}
 
.inner img{
    transition: all 1.5s ease;
    width: auto;
    height: 35vh;
}
 
.inner:hover img{
    transform: scale(1.3);
}
h2 { 
    font-size: 2em;
 }
h2:before,h2:after {
  border-top-style: dashed;
}

h2:before,h2:after {
  border-top: 3px double dashed #E91C6A;
  border-color: #E91C6A;
  content: '';
  display: table-cell;
  width: 50%;
}

h2 {
    border-collapse: separate;
    border-spacing: 0px 0;
    border-spacing: 5rem 0;
    color: #123;
    display: table;
    font-family: Quicksand;
    font-size: 2em;
    line-height: .25;
    margin: 2em 0em 0em 0em;
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    
    
  }
  .title{
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      font-family: Quicksand;
  }

 .controls .prev,
 .controls .next{
    position: absolute;
    top: 70%;
    width: 6em;
    color: rgb(233, 111, 186);
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    margin-top: -100px;
    font-weight: bolder;
}

 .controls .prev{
    left: 0;
}

 .controls .next{
    right: 0;
}
  