<app-navbar></app-navbar>
<app-header></app-header>
<app-icons></app-icons>
<app-univers></app-univers>
<app-products></app-products>
<app-community></app-community>
<app-inspiration></app-inspiration>
<app-footer></app-footer>