<section class="bg">

    <div class="d-flex flex-row justify-content-around">
       <h3>Meilleures vente</h3>
       <h3>Nouveautés</h3>
       <h3>Bons Plans</h3>
    </div>
<div class="container">

    <div class="d-flex flex-row d-flex justify-content-center ">
        <!-- Card number 1 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/img/p0.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">MAQUILLAGE</h6>
                  <p>215 dh</p>

                </div>
              </div>
        </div>


        <!-- Card number 2 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/p1.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">SOIN DE LA PEAU</h6>
                  <p>215 dh</p>
                </div>
              </div>
        </div>

        <!-- Card number 3 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/p2.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">CHEUVEUX</h6> 
                  <p>215 dh</p>
                </div>
              </div>
        </div>


        <!-- Card number 4 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/p3.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">ONGLES</h6> 
                  <p>215 dh</p>  
                </div>
              </div>
        </div>
    </div>

    <div class="d-flex flex-row d-flex justify-content-center mt-5">
        <!-- Card number 5 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/p4.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">PARFUMS</h6> 
                  <p>215 dh</p>   
                </div>
              </div>
        </div>
         <!-- Card number 1 -->
         <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/img/p5.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">MAQUILLAGE</h6>
                  <p>215 dh</p> 
                </div>
              </div>
        </div>


        <!-- Card number 2 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/p6.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">SOIN DE LA PEAU</h6>
                  <p>215 dh</p>
                </div>
              </div>
        </div>

        <!-- Card number 3 -->
        <div class="w">
            <div class="card shadow" style="width: 13rem;">
                <div class="inner">
                        <img class="card-img-top" src="../../assets/img/p7.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">CHEUVEUX</h6> 
                  <p>215 dh</p>
                </div>
              </div>
        </div>


      

    </div>
</div>
</section>