<section class="back">
   

<div class="container">

    <div class="d-flex justify-content-end">
        
        <div class="w">
            <div class="card shadow" style="width: 30rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/img/Icon material-chat.png" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h2 class="card-title">Communauté<br>Zinabel</h2>
                  
                  <a href="#">VOIR PLUS</a>
                  
                </div>
              </div>
        </div>


        

    </div>
</div>
</section>
