.back{
    background-image: url('../../assets/img/banner-bottom.png');
    background-size: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: 0em;
    background-position-y: 3em;
    padding-bottom: 20px;
    padding-top: 1em;


}
.container{
    margin-top: 5%;
    margin-bottom: 10%;
    
    
     
}
.w{
    margin: 0 5px 0 5px;
}
 
.inner{
    overflow: hidden;
    margin: 20px auto ;
}
 
.inner img{
    transition: all 1.5s ease;
    width: auto;
    height: 10vh;
}
 
h2:hover {
    color: #E91C6A;

}
h2{
    font-family: Quicksand;
}
a{
    font-family: Quicksand;
    color: #E91C6A;
    float: right;
    font-size: 11px;
    margin-right: 4em;
}